{% extends 'base.html.twig' %}

{% block body %}
    {% for wilder in wilders %}
        <div class="media">
            <img src={{ wilder.image }} class="align-self-center mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">{{ wilder.name }}</h5>
                <h5 class="mt-0">{{ wilder.city }}</h5>
                <p>{{ wilder.joke }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}